section.isActive {
  padding-top: 128px;
  padding-bottom: 0;
}

.nav.breadcrumbs {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.61;
  color: var(--text);
}

.list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 4px;
}

.listItem a {
  max-width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listItem:last-child a:last-child,
.listItem:last-child span:last-child {
  cursor: default;
  pointer-events: none;
  color: var(--blue);
}

.separator {
  padding: 6px 5px;
  margin-left: 4px;
}

@media screen and (max-width: 1240px) {
  .section {
    display: none;
  }

  section.isActive {
    padding-top: 20px;
  }

  .nav.breadcrumbs {
    padding-top: 20px;
  }

  .listItem:last-child a:last-child,
  .listItem:last-child span:last-child {
    cursor: pointer;
    pointer-events: all;
    color: var(--blue);
    color: var(--text);
  }
}
