.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background: var(--background-card);
  border-radius: 24px;
  padding: 40px 56px;
}

.text {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-left: 8px;
  transition: color 0.3s ease;
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}

@media screen and (max-width: 1240px) {
  .wrap {
    gap: 24px;
    padding: 40px 33px;
  }

  .text {
    font-weight: 600;
    font-size: 16px;
  }

  .img {
    width: 223px;
    height: 200px;
  }

  .link {
    margin-left: 4px;
  }
}
