.heroImgWrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.heroTextWrapper {
  position: absolute;
  left: 100px;
  top: 218px;
  color: var(--text-light);
  z-index: 1;
}

.heroTitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: var(--background);
  margin-bottom: 56px;
}

.heroSlogan {
  max-width: 694px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heroSlogan span {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: var(--text-light);
  text-transform: uppercase;
}

.heroSlogan span:nth-child(2) {
  color: var(--orange-pressed);
  text-align: center;
}

.heroSlogan span:nth-child(3) {
  text-align: right;
}

.backgroundImg {
  box-shadow: 0 20px 32px -4px rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(75%);
}

.button {
  display: none;
}

@media screen and (max-width: 1240px) {
  .heroImgWrapper {
    max-width: 700px;
  }

  .heroTextWrapper {
    left: 50%;
    top: 43px;
    transform: translateX(-50%);
    max-width: 335px;
    width: 100%;
  }

  .heroTitle {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .heroSlogan {
    gap: 8px;
  }

  .heroSlogan span {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
  }

  .button {
    display: flex;
    max-width: 215px;
    width: 100%;
    padding: 12px 0;
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
  }
}
