.input {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-right: 5px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  outline: transparent;
}

.isActive {
  border: 2px solid blanchedalmond;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
}

.subtitle {
  font-weight: 400;
  line-height: 1.25;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
}

.paragraf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  width: 900px;
  color: var(--text);
  height: auto;
  overflow: hidden;
  resize: none;
}

.paragraf:disabled {
  white-space: pre-wrap;
}

.button {
  width: 80px;
}
