.linkCard {
  display: block;
  position: relative;
  transition: transform 300ms ease;

  width: 100%;
  height: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.contentCard {
  border-radius: 16px;
  padding: 12px;
  margin: 0 auto;
  background: var(--card-fill-tap);
  height: 174px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  left: 16px;
}

.contentWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.upRightArrowWrap {
  width: 56px;
  height: 56px;
  background-color: var(--orange-default);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upRightArrow {
  width: 40px;
  height: 40px;
  color: var(--background);
}

.titleInfoWrap {
  margin-bottom: 16px;
  font-size: 16px;
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dataWrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.publicationData {
  color: var(--grey-dark);
}

.fondName,
.publicationData {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.info {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}

.cardTitle,
.fondName,
.info {
  color: var(--text);
}

@media screen and (max-width: 1240px) {
  .contentCard {
    border-radius: 16px;
    padding: 12px 8px;
    height: auto;
    right: 8px;
    bottom: 20px;
    left: 8px;
    backdrop-filter: blur(24px);
    background: var(--card-fill);
  }

  .titleInfoWrap {
    margin-bottom: 12px;
  }

  .cardTitle {
    margin-bottom: 8px;
  }

  .fondName {
    font-size: 15px;
  }

  .slideImg {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
  }
}
