.sidebar {
  width: 20%;
  min-height: 100%;
  padding: 10px;
  border-right: 1px solid #0000003b;
  background-color: #dfdfdf;
}

.list {
  padding: 10px;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.link,
.sublink {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover,
  &:active {
    background-color: #bcbcbc;
  }
}

.link {
  font-size: 14px;
}

.sublink {
  padding-left: 30px;
  font-size: 12px;
}

.icon {
  flex-shrink: 0;
}

.bottomList {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #c3c3c3;
}
