.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



@media screen and (max-width: 1240px) {
    .list {
        display: block;
      
    }
        
}

@media screen and (min-width: 441px) and (max-width: 1240px) {
    .list {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
}