.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrap {
  width: 400px;
  margin: 0 auto;
}

.buttun {
  margin: 0 auto;
  padding: 20px 60px;
  max-width: 400px;
}

@media screen and (max-width: 1240px) {
  .buttun {
    padding: 12px 0;
    max-width: 335px;
  }
}
