.section {
  padding-top: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title {
  text-align: start !important;
}

.list {
  max-width: 730px;
  list-style: disc;
}

.list li {
  list-style: disc;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text);
  max-width: 730px;
}

.image {
  width: 420px;
  height: 600px;
  object-fit: cover;
  object-position: 94% 50%;
}

@media screen and (max-width: 1240px){
  .section {
      padding-top: 64px;
    }
  
    .container {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  
    .image {
      order: -1;
      width: 335px;
      height: 480px;
      object-fit: cover;
        object-position: 92% 50%;
    }
  
    .title {
      text-align: center !important;
      font-weight: 400;
      font-size: 22px;
      line-height: 125%;
      text-transform: uppercase;
      order: -2;
      margin: 0 !important;
    }
  
    .text {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      margin: 0 12px 0 12px;
  
    }
}
