  .list {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 60px 400px 1fr 1fr;
  gap: 15px;
}

.grid:nth-child(even) {
  background-color: #dddddd;
}

.title {
  font-size: 14px;
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.title,
.text {
  padding: 10px;

  &:not(:last-child) {
    border-right: 1px solid rgb(200, 200, 200);
  }
}
