.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

html[lang="en"] .list {
  max-width: 304px;
  gap: 28.5px;
}

html[lang="ua"] .list {
  max-width: 342px;
  gap: 8px;
}

.link {
  font-size: 18px;
  color: var(--text);
  transition: color 0.3s ease;
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}

@media screen and (max-width: 1240px) {
  .list {
    flex-direction: column;
    gap: 24px !important;
    align-items: flex-start;
  }

  .link {
    font-size: 24px;
    font-weight: 500;
  }
}
