.header {
  padding: 8px 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  box-shadow: 0 4px 12px 0 #dedede;
  background: rgba(252, 255, 255, 0.6);
  z-index: 1000;
}

.container {
  padding: 0 5.56%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 586px;
}

.wrapper {
  display: flex;
  gap: 24px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  font-size: 18px;
  color: var(--text);
  transition: color 0.3s ease;
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}

.active {
  color: var(--orange-pressed);
}

.wrapButton {
  width: 232px;
}
