.header {
  padding: 8px 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  box-shadow: 0 4px 12px 0 #dedede;
  background: rgba(252, 255, 255, 0.6);
  z-index: 1000;
}

.container {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  gap: 15px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

html[lang="en"] .nav {
  max-width: 586px;
  gap: 28.5px;
}

html[lang="ua"] .nav {
  max-width: 598px;
  gap: 8px;
}

.wrapper {
  display: flex;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;
}

.searchBtn {
  background-color: transparent;
  border: none;
  transition: color 0.3s ease-out;
  cursor: pointer;
  z-index: 999;
}

.searchIcon {
  transition: color 0.3s ease-out;
}

.searchBtn:focus .searchIcon,
.searchBtn:hover .searchIcon {
  color: var(--orange-default);
}

.wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.active {
  color: var(--orange-pressed);
}

.customButton {
  padding: 20px 31.5px;
  max-width: 232px;
  flex: 1;
}

.burgerBtn {
  display: none;
}

@media screen and (max-width: 1240px) {
  .header {
    position: static;
  }

  .container {
    padding: 0 20px;
  }

  .wrapper {
    display: none;
  }

  .burgerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
  }

  .burgerBtn:active svg {
    color: var(--orange-pressed);
  }
}
