.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  transition: 0.3s;
}

.overlayActive {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.searchIcon {
  cursor: pointer;
  transition: color 0.3s ease-out;
  z-index: 999;
}

.searchIcon:hover,
.searchIcon:focus {
  color: var(--orange-default);
}
