.section {
  margin-top: 24px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  margin-bottom: 24px;
}
.desc {
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headSec {
  margin-bottom: 0;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  order: 2;
}
.headThird {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.par {
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
}
.info {
  border-radius: 8px;
  margin: 0 auto;
}
.info p {
  padding: 5px 0;
}

@media screen and (min-width: 1240px) {
  .section {
    margin-top: 120px;
  }
  .title {
    gap: 24px;
    margin-bottom: 64px;
  }
  .headSec {
    order: 1;
    font-weight: 600;
    font-size: 40px;
  }
  .desc {
    order: 2;
    gap: 20px;
    justify-content: flex-start;
  }
  .par,
  .headThird {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
  }
  .info {
    border: 1px solid #e1d6d6;
    padding: 24px;
    max-width: 1030px;
  }
}
