.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html[lang="en"] .navWrap {
  gap: 28.5px;
}

html[lang="ua"] .navWrap {
  gap: 12px;
}

.link {
  font-size: 18px;
  color: var(--text);
  transition: color 0.3s ease;
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}

.navWrapAcc {
  display: none;
}

@media screen and (max-width: 1240px) {
  html[lang="en"] .navWrap,
  html[lang="ua"] .navWrap {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    align-items: flex-start;
  }

  .navWrapAcc {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    color: var(--text);
  }

  .isActive .title {
    color: var(--orange-pressed);
  }

  .link {
    font-weight: 500;
    font-size: 24px;
  }

  .icon {
    width: 30px;
    height: 30px;
    color: var(--text);
  }
}
