.form {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.elementsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px
}

.titleError {
    position: absolute;
    top: 10px;
    right: 150px;
    color: #D32F2F;
    font-size: 12px;
}

.label {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: rgb(130, 139, 162);

    cursor: default;
}

.firstFormLabel{
    display: flex;
    justify-content: center;
    color: rgb(130, 139, 162);

    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size:30px;
    font-weight: 700;

}
.elementWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputAndButtonsWrapper{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.buttonsWrapper{
    display: flex;
    gap: 10px;
}
.imgError {
    position: absolute;
    top: 90px;
    right: 150px;
    color: #D32F2F;
    font-size: 12px;
}

.dropboxDark {
    background-color: #231e1e;
}

.dropboxLightText {
    margin: 0 0 4px;
    color: #f5f5f5;
    font-size: 16px;
}

.dropboxDarkText {
    margin: 0 0 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
}

.dividerChilds {
    display: flex;
}

.deleteLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    height: 48px;
}

.editForm {
    width: 100%;
}

.editFormWrapper {
    display: grid;
    /*grid-template-columns: minmax(300px, 500px) 1px 1fr;*/
    /*grid-template-rows: repeat(5, auto);*/
    /*grid-template-areas:*/
    /*    'firstTitle divider secondDragger'*/
    /*    'firstDragger divider secondDragger'*/
    /*    'type divider secondDragger'*/
    /*    ' . divider secondDragger'*/
    /*    'horizontalDivider divider secondDragger'*/
    /*    'budgetCards divider secondDragger'*/
    /*    'saveButton divider .';*/
    /*width: 100%;*/
    /*height: auto;*/
    gap: 15px;
}

.firstTitle {
    grid-area: firstTitle;
    margin-bottom: 15px;
}

.firstDragger {
    grid-area: firstDragger;
    height: 150px;
    margin-bottom: 25px;
}

.secondDragger {
    grid-area: secondDragger;
    height: 200px;
}

.type {
    grid-area: type;
    margin-bottom: 15px;
}

.saveButton {
    grid-area: saveButton;
    width: 100px;
}

.divider {
    grid-area: divider;
}

.budgetCards {
    grid-area: budgetCards;
}

.horizontalDivider {
    grid-area: horizontalDivider;
}
