.item {
  width: 100%;
  max-width: 400px;
  padding: 20px 12px;
  border-radius: 20px;
  background: var(--background-card);
  border: 1px solid var(--orange-default);
  transition: all 0.3s ease;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
}

.item.disabled {
  border-color: var(--grey-disabled);
}

.item:has(.link:hover),
.item:has(.link:focus) {
  box-shadow: 0 0 12px 0 var(--orange-default);
  border-color: var(--orange-pressed);
}

.item:has(.link:active) {
  border: 1px solid var(--orange-pressed);
  box-shadow: none;
}

.card {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 22px;
  justify-content: space-between;
  align-items: flex-end;
}

.info {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: start;
  text-align: left;
}

.textPub {
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
}

.title {
  min-height: 46px;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  text-transform: uppercase;
}

.textRel {
  font-size: 12px;
  line-height: 167%;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 4px;
  background-color: var(--orange-default);
  color: var(--text);
  font-weight: 500;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link::first-letter {
  text-transform: capitalize;
}

.link:active {
  background-color: var(--orange-pressed);
}

.icon {
  font-size: 38px;
  stroke: var(--background);
}

.disabled {
  color: var(--grey-disabled);
}

.disabled .icon {
  stroke: var(--grey-disabled);
}

.link.disabled {
  background-color: var(--orange-disabled);
  box-shadow: none;
}

@media screen and (min-width: 1240px) {
  .card {
    flex-direction: column;
    max-width: 313px;
    align-items: flex-start;
    gap: 26px;
  }

  .link {
    border-radius: 32px;
    padding: 12px 53px;
    gap: 20px;
  }

  .link:hover,
  .link:focus {
    box-shadow: 0 4px 24px 0 var(--orange-pressed);
  }

  .link:active {
    box-shadow: none;
  }

  .icon {
    font-size: 24px;
    stroke: var(--text);
  }
}
