.popover {
  position: relative;
}

.popoverButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  height: 32px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
  cursor: pointer;
  transition: color 0.3s ease;
}

.popoverButton:focus,
.popoverButton:hover {
  color: var(--orange-default);
}

.popoverButton:active {
  color: var(--orange-pressed);
}

.popoverButton svg {
  transition: transform 0.3s ease;
}

.popoverIconActive {
  transform: rotate(-180deg);
}

.popoverPanel {
  z-index: 1001;
  border: 1px solid var(--grey-disabled);
  border-radius: 12px 0 12px 12px;
  padding: 24px;
  width: 324px;
  background: var(--text-light);
}

.popoverPanelList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  height: 100%;
}

.popoverPanelLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 18px;
  color: var(--text);
}

.popoverPanelLink:focus,
.popoverPanelLink:hover {
  background: var(--orange-hover);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 15%);
  transition: 0.3s;
}
