.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 8px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.listItem svg {
  color: var(--orange-default);
}

.link {
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
}

.link:active {
  color: var(--orange-pressed);
}
