.infoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 284px;
  margin-bottom: 24px;
}

.navLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--text);
  transition: color 0.3s ease;
}

.navLink:focus,
.navLink:hover {
  color: var(--orange-default);
}

.navLink:active {
  color: var(--orange-pressed);
}
