.section {
  padding-top: 120px;
}

h2.title {
  text-align: start;
}

@media screen and (max-width: 1240px) {
  .section {
    padding-top: 20px;
    padding-bottom: 64px;
  }

  h2.title {
    text-align: center;
  }
}
