.list {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.listItem {
  border-radius: 20px;
  max-width: 400px;
  height: auto;
}

@media screen and (max-width: 1240px) {
  .list {
    display: none;
  }
}
