.listItem {
  display: flex;
  align-items: center;
  max-width: 610px;
  min-width: 510px;
  background: var(--orange-hover);
  border-radius: 60px;
  padding: 32px 40px;
  flex: 1 1 calc(50% - 20px);
}

.listItem:nth-child(1) {
  margin-bottom: -76px;
}

.listItem:nth-child(1),
.listItem:nth-child(4) {
  gap: 20px;
  height: 258px;
  background: var(--background-card);
}

.listItem:nth-child(2),
.listItem:nth-child(3) {
  height: 182px;
  gap: 32px;
}

.listTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--text);
  margin-bottom: 12px;
}

.listDiscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
}

@media screen and (max-width: 1240px) {
  .listItem {
    min-width: 320px;
    height: auto;
    padding: 16px 8px;
  }

  .listItem:nth-child(1) {
    margin-bottom: 0;
    grid-row: 2;
  }

  .listItem:nth-child(2),
  .listItem:nth-child(3) {
    flex-direction: row-reverse;
  }

  .listTitle {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .listDiscr {
    font-size: 13px;
  }
}
