.footer {
  padding: 40px 100px 11px;
  box-shadow: 0 -4px 12px 0 rgba(222, 222, 222, 0.25);
  background: var(--background);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px 0;
  border-bottom: 1px solid var(--orange-default);
  margin-bottom: 40px;
}

.wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.discr {
  font-weight: 700;
  font-size: 16px;
  color: var(--text);
}

.secContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  gap: 40px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactListTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.61104;
  color: var(--text);
  margin-bottom: 12px;
}

.contactListWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contactListText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--text);
}

.contactListIcon {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: var(--orange-default);
}

.infoWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 329px;
}

.copyrightWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.copyrightWrap p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.61104;
  color: var(--text);
}

.button {
  margin-top: 24px;
  padding: 20px 15px;
}

.wrapList {
  display: block;
}

.wrapAcc {
  display: none;
}

@media screen and (max-width: 1240px) {
  .footer {
    padding: 0 20px 11px;
    box-shadow: none;
  }

  .container {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-bottom: 1px solid #000;
    padding: 0 0 8px;
    margin: 0 auto 24px;
    max-width: 600px;
  }

  .wrap {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .secContainer {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 43px;
  }

  .contactList {
    gap: 16px;
    max-width: 600px;
    width: 100%;
  }

  .wrapList {
    display: none;
  }

  .wrapAcc {
    display: block;
    max-width: 600px;
    width: 100%;
    border-bottom: 1px solid var(--grey-disabled);
    padding-bottom: 12px;
  }

  .infoWrap {
    max-width: 600px;
    width: 100%;
  }

  .titleAcc {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 4px;
    color: var(--text);
  }

  .isActive .titleAcc {
    color: var(--orange-pressed);
  }

  .icon {
    width: 24px;
    height: 24px;
    color: var(--text);
  }

  .button {
    margin-top: 32px;
    padding: 12px 8px;
  }
}
