.wrapper a:last-child {
  max-width: 400px;
}

.title {
  /* font-family: ???; */
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  margin-bottom: 64px;
}

.listItem {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  outline: 1px solid red;
  margin-bottom: 64px;
  padding: 0px 16px 16px;
  display: flex;
  justify-content: start;
  align-items: end;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  /* background: url("path_to_image"); */

  background-color: yellow;
}

.linkCard {
  display: block;
}

.contentCard {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 12px;
  width: 368px;
  height: 172px;
  margin: 0 auto;
  backdrop-filter: blur(24px);
  background: var(--card-fill-tap);
}

.upRightArrowWrap {
  width: 56px;
  height: 56px;
  background-color: var(--orange-default);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upRightArrow {
  width: 40px;
  height: 40px;
  color: var(--background);
}

.contentWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.titleInfoWrap {
  margin-bottom: 16px;
  /* font-family: var(--third-family); */
  font-size: 16px;
}

.cardTitle {
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--text);
}

.data {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-dark);
}

.fondName {
  font-size: 18px;
  line-height: 1.11;
  color: var(--text);
}
