.wrapper a:last-child {
  max-width: 400px;
  margin: 0 auto;
}

.list {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.listItem {
  border-radius: 20px;
  max-width: 400px;
  height: auto;
}

.linkCard {
  display: block;
  position: relative;
}

.contentCard {
  border-radius: 16px;
  padding: 12px;
  margin: 0 auto;
  background: var(--card-fill-tap);

  position: absolute;
  right: 16px;
  bottom: 16px;
  left: 16px;
}

.contentWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.upRightArrowWrap {
  width: 56px;
  height: 56px;
  background-color: var(--orange-default);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upRightArrow {
  width: 40px;
  height: 40px;
  color: var(--background);
}

.titleInfoWrap {
  margin-bottom: 16px;
  font-size: 16px;
}

.cardTitle {
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--text);
}

.data {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-dark);
}

.fondName {
  font-size: 18px;
  line-height: 1.11;
  color: var(--text);
}
