.btn {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0;
  }

  .btn {
    max-width: 335px;
    padding: 12px 20px;
  }
}
