.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 64px;
    row-gap: 60px;
    max-width: 992px;
    margin: 0 auto 40px;
}

.image {
  max-width: 360px;
  max-height: 380px;
  object-fit: contain;
  width: auto;
}
