.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--orange-default);
  border-radius: 32px;
  padding: 16px 48px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:focus,
.button:hover {
  box-shadow: 0 4px 24px 0 var(--orange-pressed);
}

.button:active {
  background: var(--orange-pressed);
}

.button:disabled {
  cursor: auto;
  border: 2px solid var(--orange-disabled);
  background: var(--orange-disabled);
  color: var(--grey-disabled);
  box-shadow: none;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--text);
  max-width: 454px;
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-left: 3px;
  transition: color 0.3s ease;
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}

@media screen and (max-width: 1240px) {
  .button {
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    padding: 14px 20px;
  }

  .button svg {
    width: 20px;
    height: 20px;
  }

  .wrap {
    gap: 9px;
  }

  .wrap svg {
    max-width: 20px;
    height: 20px;
    width: 100%;
  }

  .text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    max-width: 454px;
  }
}
